/*common css*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ul,ol{
      list-style: none;
  }
  
  a{
      text-decoration: none;
      color:white;
  }
  
  body{
      font-family: arial;
  }
  /*common css ends*/
  
  /*NAVBAR*/
  nav{
      text-align: center;
      background: #373B44;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
      padding-bottom: 15px;
  
  }
  nav ul li{
  
      display: inline-block;
      position: relative;
      margin: 0 25px;
  }
  
  nav ul li::before{
     content: ' ' ;
      width: 0%;
      height: 1px;
      background-color:white;
      position: absolute;
      left: 0;
      bottom: 10px;
      border-radius: 10px;
  }
  nav ul li:hover::before{
      width: 50%;
      transition: 0.5s;
  }
  nav ul li::after{
      content: ' ' ;
       width: 0%;
       height: 1px;
       background-color:white;
       position: absolute;
       left: 0;
       bottom: 6px;
       border-radius: 10px;
   }
   nav ul li:hover::after{
      width: 100%;
      transition: 0.35s;
   }
  
  nav ul a{
      
      padding: 15px 0px;
      
      display: inline-block;
      border-bottom: 0px solid white;
      transition: 0.3s;
  }
  
  /*NAVBAR ENDS*/
  